.profileSocialIconIndicator {
	.iconIndicator {
		width: 28px;
		height: 22px;
		margin-right: 0.8rem;
		border: 1px solid #dadada;
		display: inline-block;
		margin-top: -7px;
		cursor: pointer;
		background-image: url("../src/block/block-profile/image/social-bg.png");
	}
}

.iconColor {
	margin: 0;
}

.SocialItem {
	margin: 0;
}
