.nb-testimonial {
	// border:solid 1px; // rgb(242, 242, 242);
	border-radius: 10px;
	padding: 15px;
	// background-color: rgb(242, 242, 242);
	// border: solid 1px #ddd;

	.testimonial-content {
		padding: 5px 20px 20px 20px;
	}

	// left Testimonial (default)
	.testimonial-info {
		display: flex;
		flex-direction: row;
		padding: 5px 10px 0px 14px;
		.image {
			background: #ddd;
			// flex: 1;
			margin-right: 15px;
			position: relative;
			border-radius: 50%;
			width: 80px;
			height: 80px;

			button {
				height: 100%;
				left: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				z-index: 50;
				box-shadow: none !important;
				background: none !important;
				svg {
					margin: 0 auto;
				}
			}
			img {
				width: 100%;
				height: 100%;

				border-radius: 100%;
				display: inline-block;
				vertical-align: middle;
				height: 100% !important;
			}
		}

		.testimonial-details {
			top: 12px;
			position: relative;
			.nbName {
				margin: 0;
			}
		}
	}

	// middle-testimonial-info( Center point)
	.middle-testimonial-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.image {
			background: #ddd;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			margin-bottom: 10px;
			button {
				width: 100%;
				height: 100%;
				box-shadow: none !important;
				background: none !important;
				padding: 0;

				svg {
					margin: 0 auto;
				}
			}
			img {
				width: 100%;
				height: 100%;
			}
		}

		.testimonial-details {
			text-align: center;
			top: 12px;
			position: relative;
			.nbName {
				margin: 0;
			}
		}
	}

	//right-testimonial-info( Right point)
	.right-testimonial-info {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

		.image {
			background: #ddd;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			margin-left: 15px;
			button {
				width: 100%;
				height: 100%;
				box-shadow: none !important;
				background: none !important;
				padding: 0;

				svg {
					margin: 0 auto;
				}
			}
			img {
				width: 100%;
				height: 100%;
			}
		}

		.testimonial-details {
			text-align: center;
			top: 12px;
			position: relative;
			.nbName {
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.nb-testimonial {
		// left Testimonial (default)
		.testimonial-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.image {
				background: #ddd;
				border-radius: 50%;
				width: 80px;
				height: 80px;
				margin-bottom: 10px;
				button {
					width: 100%;
					height: 100%;
					box-shadow: none !important;
					background: none !important;
					padding: 0;

					svg {
						margin: 0 auto;
					}
				}
				img {
					width: 100%;
					height: 100%;
				}
			}

			.testimonial-details {
				text-align: center;
				top: 12px;
				position: relative;
				.nbName {
					margin: 0;
				}
			}
		}

		// Right Testimonial
		.right-testimonial-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.image {
				background: #ddd;
				border-radius: 50%;
				width: 80px;
				height: 80px;
				margin-bottom: 10px;
				button {
					width: 100%;
					height: 100%;
					box-shadow: none !important;
					background: none !important;
					padding: 0;

					svg {
						margin: 0 auto;
					}
				}
				img {
					width: 100%;
					height: 100%;
				}
			}

			.testimonial-details {
				text-align: center;
				top: 12px;
				position: relative;
				.nbName {
					margin: 0;
				}
			}
		}
	}
}
