.NinjaButton {
	a {
		text-decoration: none;
		border: none !important;
	}

	// button:hover {
	// 	background: #fff !important;
	// }

	.nb_button {
		padding: 0.6em 1em;
	}
}

.NinjaButton-right {
	display: table;
	margin-left: auto;
}

.NinjaButton-center {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.NinjaButton-left {
	display: table;
	margin-right: auto;
}

.nb_button_url_link {
	text-align: center;
	.linkIcon {
		margin-right: 10px;
		vertical-align: middle;
	}
}
