/**
 * Editor styles for the admin
 */

.ninja-block-cta {
	margin-bottom: 0;
}

.ninja-cta-button {
	.blocks-button__inline-link .editor-url-input {
		display: inline-block;
		width: auto;
	}

	.blocks-button__inline-link .components-button {
		display: inline-block;
	}

	.blocks-button__inline-link svg {
		vertical-align: middle;
		margin-right: 8px;
	}
}

.ninja-block-cta h2.editor-rich-text__tinymce.mce-content-body {
	line-height: 1.2;
}
